/* Login Page Styles */
html,
body {
  height: 100%;
}

body {
  /* display: flex; */
  align-items: center;
  /* padding-top: 40px; */
  padding-bottom: 40px;
  background-image: url("../img/cubes.png");
  /*  background-repeat: no-repeat;
      background-size: 100% 100%; */
  /* background-color: aquamarine; */
  background-color: #ffffff36;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin #username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  /* border-top-right-radius: 0; */
}

.form-signin .ckb {
  margin-bottom: 10px;
  /* border-top-left-radius: 0; */
  border-top-right-radius: 0;
}

.head {
  height: 200px;
  /* background-image: url(img/header-bg.png); */
}

.login {
  box-shadow: 5px 5px 100px 1px rgba(0, 0, 0, 0.15);
}

.login-img,
.login-form {
  height: 658px;
}

.login-img {
  background-image: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 10px;
  text-align: start;
}

.header-login {
  display: none !important;
}

.login-form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .login-form {
    width: 100% !important;
    min-width: 0;
    /* padding: -25px; */
  }
  .login-img,
  .login-form {
    height: 552px;
  }
  .form-signin {
    max-width: 330px;
    padding: 5px;
  }
}

@media (max-width: 767.98px) {
  .col-img {
    display: none !important;
  }
  .header-login {
    display: block !important;
  }
  .login-form {
    height: auto;
    /* width: 100% !important; */
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.93); /* Tingkatkan opacity background form */
  }
  body {
    background-image: url("../img/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .login {
    box-shadow: none;
  }
}

@media (max-width: 575.98px) {
  .login-form {
    padding: 10px 2px;
  }
}
